# Framework Web et Serveur
fastapi==0.111.0
uvicorn[standard]==0.30.1
python-multipart==0.0.9

# Vision par ordinateur et IA
torch==2.4.1
torchvision==0.19.1
ultralytics==8.2.32
# Note: On force numpy < 2.0 car la version 2.0 crée encore des conflits avec certaines libs ML
numpy<2.0.0

# Traitement d'image et OCR
pillow==10.3.0
pytesseract==0.3.10